.Expenses {
  width: 90%;
}

.Search-Table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.ColumnHeader {
  background: linear-gradient(rgb(141, 141, 216), blue);
}

.ColumnHeader > th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1em;
}

.radio {
  margin: 0 20px;
}