#id {
  text-align: center;
}

.info {
  background-color: #f3bcbc;
  border-radius: 50%;

  width: 2.5em;
  height: 2.5em;
  
  font-weight: bold;

}

.Search-Row {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1em;
}
