.id {
  width: 8%;
}

.info {
  background-color: #f3bcbc;
  border-radius: 50%;

  width: 2em;
  height: 2em;
  
  margin-right: 2em;
  font-weight: bold;
}

.Search-Row {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1em;
}
