.Component {
  display: flex;
  flex-direction: column;
  width: 90%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.ColumnHeader {
  background: linear-gradient(rgb(141, 141, 216), blue);
}

.ColumnHeader > th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1em;
}

span {
  padding-left: 2em;
}

.search {
  margin-left: 2em;
}

.Net {
  margin-left: 2em;
}