.Component {
  width: 90%;
}

.Header {
  position: relative;
  display: flex;
  flex-direction: row;
}

.Header > * {
  margin: auto;
}

h1 {
  padding: 0.5em 0;
}

.back {
  position: absolute;
  border: none;
  font-size: 4em;
  background-color: inherit;

  top: 0;
  bottom: 0;
  height: min-content;
}

.back:hover {
  font-size: 4.5em;
}

.back:active {
  font-size: 3.5em;
  box-shadow: none;
}

#extra {
  visibility: hidden;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.ColumnHeader {
  background: linear-gradient(rgb(141, 141, 216), blue);
}

.ColumnHeader > th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1em;
}

.radio {
  margin: 0 20px;
}