.Component {
  display: flex;
  flex-direction: column;
  width: 90%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.ColumnHeader {
  background: linear-gradient(rgb(141, 141, 216), blue);
}

.ColumnHeader > th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1em;

  font-size: 0.8em;
}

span {
  padding-left: 2em;
}

.search {
  margin-left: 2em;
}

.Net {
  margin-left: 2em;
}

/*Media Query*/


@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  .ColumnHeader {
    display: none;
  }


	/* Force table to not be like tables anymore */
	table, tbody, th, td, tr { 
		display: block; 
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "ID"; }
	td:nth-of-type(2):before { content: "Amount"; }
	td:nth-of-type(3):before { content: "Date"; }
	td:nth-of-type(4):before { content: "Description"; }
	td:nth-of-type(5):before { content: "Date Created"; }
	td:nth-of-type(6):before { content: "Date Updated"; }
}